@font-face {
  font-family: 'Brush';
  src: url('Brush.ttf');
}

.site-logo{
	font-family: 'Brush', 'Georgia', serif;
	font-size: 35px;
	font-weight: 400;
}

html{

	max-width: 100%;
    overflow-x: hidden;
}

body { 
	
	height : 100%;

	font-size: 20px;
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;
	
	max-width: 100%;
    overflow-x: hidden;

	background-image:url("./../image/noisy.gif");
}

h3{
	color: #3385ff;
}

i{
	/*padding-right: 10px;
	padding-left: 10px;*/
}

img {
	border-radius: 50%;
	border : 5px solid #ecf0f1;
	width : 50%;
	max-width : 450px;
}



#home{
	background:url("./../image/cover_1.jpg") no-repeat fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:36%;
  /*  height: 100%;
    width: 100%;*/
    text-align: center;
    position: relative;
}

#home h1{
	font-family: 'Brush', 'Georgia', serif;
	margin : 0em;
	font-size: 50px;

}

.home-text{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  
}

.img-left{
	text-align: center;
	border-right: 3px solid #ccc;
}

.evendiv{	
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.data-left{
	display: inline-block;
	text-align: center;
	border-right: 3px solid #ccc;
	/*padding-left: 200px;*/
}

.data-right{
	display: inline-block;
	text-align: center;
	border-left: 3px solid #ccc;
	/*padding-left: 200px;*/
}

.f-left{
	text-align: left;
	display: inline-block;
	top:50%;
	left:50%;
}

.title{
    text-align: center;
}

.title-head{
	color: #ffffff;
}

.title h3{
	color: #0066ff;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

